* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
}

header ul li {
  display: inline-block;
}

header ul li a {
  color: #002D75;
  padding: 15px;
}

header ul li a:hover {
  background-color: #b3e5fc;
}

.slide {
  margin-top: 20px;
  height: 600px;
  background-image: url(/images/home.jpg?cb7db241726fb646d7e1c8553429c07c);
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
}

.all-cards .card {
  width: calc(100% / 3);
  height: 100%;
  position: relative;
}

.all-cards .card img {
  max-width: 100%;
}

.all-cards .card .over {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.48);
}

.all-cards .card:hover .over {
  display: block;
}

.final {
  height: 150px;
  background-image: url(/images/montagne.jpg?d53b01335f4c26b84b40ca2ab0a64ece);
}

